.header {
  margin: 0 auto;
  text-align: center;
}

.header h1 {
  color: #0c2340;
  font-weight: 900; /* Maps to bold */
  font-size: 32px;
  line-height: 2.5rem;
  font-family: "Aesop";
  margin: 0;
}

.logo {
  height: 64px;
  width: auto;
  margin-bottom: 24px;
}

.logo path {
  fill: #fb534a;
}
